<div class="jumbotron mt-30 text-center">
    <h1>SSO Api</h1>
    <p>ApiRestFull para SSO que controla Autentificacion.</p>
    <p class="text-center"><a class="btn btn-success btn-lg" href='@(Url.Action("Index", "Swagger"))'>Documentación y Pruebas con Swagger <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></p>  
</div>

